*.pyc
*.pyo
*.txt
.vscode/
testenv/
TelegramBots/env
__pycache__/
TDDDjangoRestApi/env
TDDDjangoRestApi/book_store/books/migrations
tasks.json
google_page.html
.vscode/settings.json
Python_Basics/google_page2.html
*.JPEG
Python_Basics/formResponse.html
CodeWizard/Static/
WebprojectTwo/webprojecttwoenv
WebprojectTwo/webprojecttwo/blog/migrations
penguin.png
fly.png
*.jpg
Assist/assist
DjangoTest/venv
db.sqlite3